.fab-button{
  background-color: red;
  color: white;
  right: 20px;
  bottom: 20px;
  position: fixed;
}

table{
  border-collapse: collapse;
}
.tableHead {
  border-bottom: 2px solid black;
}

.clickable{
  cursor: pointer;
}

td { padding: 0.2em 1em; }
th { text-align: center; }

.dropbtn {
  background-color: #4CAF50;
  color: white;
  display: inline-block;
  font-size: 16px;
}
.bottomleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}