<table></table>
<div [ngClass]="'div-cls'">Name: {{this.todo.name}}</div>

<div [ngClass]="'div-cls'">Due date: {{this.todo.dueDate|date}}</div>

<div [ngClass]="'div-cls'">Done: {{this.todo.isDone}}</div>

<div [ngClass]="'div-cls'">Priority: {{this.todo.priority}}</div>

<div *ngIf="this.todo.description !== ''" [ngClass]="'div-cls'">Description: {{this.todo.description}}</div>

<div *ngIf="this.todo.project" [ngClass]="'div-cls'">
  Project: 
  <a  [routerLink]="['/project/',this.todo.projectId]" routerLinkActive="router-link-active" >
  {{this.todo.project.name}}</a>
</div>

<a [routerLink]="['/todo']" routerLinkActive="router-link-active" >
  <button mat-raised-button color="primary"  >  Go back </button>
</a>
